<div class="header">
    <div class="top-header">
        <a class="logo">
            <img src="img/header-logo.png" alt="header-logo brand-logo sieuthimaytinhlangson">
        </a>
        <div class="search-bar">
            <form class="search-form" action="" method="POST">
                <input type="text" name="keyword" placeholder="Tìm kiếm...">
                <button type="submit"><img src="img/search-icon.svg" alt="search-icon"></button>
            </form>
            <div class="header-contact">
                <img src="img/header-call.svg" alt="header-call">
                <span>Hotline:</span>
                <span style="color: #DD4333; font-weight: 600;">08 888 03 999</span>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-container">
            <div class="category-button">
                <img src="img/menu-button.svg" alt="menu-button">
                <span class="title">DANH MỤC SẢN PHẨM</span>
                <div class="menu"></div>
            </div>
            <div class="navbar-main">
                <div class="navbar-pc">
                    <a href="" style="color: #FAEB31;">TRANG CHỦ</a>
                    <a href="">GIỚI THIỆU</a>
                    <a href="">SẢN PHẨM</a>
                    <a href="">TIN TỨC</a>
                    <a href="">VIDEO</a>
                    <a href="">HỖ TRỢ KHÁCH HÀNG</a>
                    <a href="">LIÊN HỆ</a>
                </div>
                <div class="navbar-mobile">
                    <form class="search-form-mobile" action="" method="post">
                        <input class="search-bar-mobile" type="text" name="keyword" id="" placeholder="Tìm kiếm...">
                        <button type="submit"><img src="img/search-icon.svg" alt="search-icon"></button>
                    </form>
                </div>
                <div class="cart">
                    <a href=""><span class="counter">{{ cartProductsCount }}</span><img src="img/cart.png"
                            alt="cart-icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>