.product {
    display: flex;
    flex-direction: column;
    width: calc(25% - 1px);
    background-color: white;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.product-thumbnail {
    display: block;
    width: 85%;
    margin: 5px 7.5%;
    text-align: center;
    height: calc(100% - 105px);
    display: flex;
    align-items: center;
}

.thumbnail {
    width: auto;
    max-width: 100%;
    max-height: 200px;
}

.product span {
    display: block;
    width: 85%;
    margin: 0  7.5%;
}

.product-name {
    font-size: 1.6em;
    text-align: left;
    line-height: 1.25;
    height: 40px;
    overflow: hidden;
}

.product-price {
    color: #D92037;
    font-size: 1.6em;
    font-weight: 600;
    text-align: right;
}
.product-status{
    margin: 0 7.5%;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.product-status  span{
    color: #D92037;
    font-size: 1.6em;
    font-weight: 600;
    text-align: right;
    margin-right: 0;
    margin-top: 0;
}

.product-status button{
    padding: 0;
    background-color: transparent;
    border:  none;
    cursor: pointer;
}
.product-status img{
    width: 30px;
    height: auto;
}
.description{
    height: 105px;
}